// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hidden {
  display: none;
}
.cross:hover { 
  cursor: pointer;
}
.ins-space{
  margin-left: 20px;
}
